html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    justify-content: center;
    background-color: white;

}

.main {
    width: 100%;
    height: 100%;
    padding: 5px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    animation: zoom_out 2s;
    transition: all 2.5s ease-in-out;
    color: darkred !important;
}

h2 {
    margin: 0 20pt 30pt 15pt;
    animation: zoom_out_hall 2s;
    transition: all 2.5s ease-in-out;
    color: #9e0505c2 !important;
    font-weight: bold;
}

h3 {
    font-family: monospace;
    font-size: 16px;
}

h3 a:link, h3 a:visited, h3 a:active, h3 a:hover {
    color: #333;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.item {
    display: inline-block;
    width: 250pt;
    height: 250pt;
    background-color: #fff;
    border-radius: 6pt;
    transition: 0.2s ease-in-out;
}

@keyframes zoom_out {
    0% {
        transform: translate(-100px);
        opacity: 0;
    }
    30% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom_out_hall {
    0% {
        transform: translate(100px);
        opacity: 0;
    }
    30% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.item:link, .item:visited, .item:active {
    color: #333;
    text-decoration: none;
}

.item:hover {
    opacity: 0.9;
    transform: scale(0.98);
    text-decoration: none;
    border-radius: 50%;
    background-size: cover;
}

.item:hover .image {
    background-image: url("https://t3.ftcdn.net/jpg/01/37/97/26/500_F_137972646_lEeQJhEYXaOB443VMdScCgBaPU3cRsI2.jpg") !important;
}

.image {
    margin: 0 auto !important;
    height: 16.6rem;
    width: 16.6rem;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.item_description {
    /*padding: 35pt;*/
    line-height: 35pt;
    font-size: 17px;
    text-align: center;
    font-family: monospace;
}

/* movie hall styles*/

.movie_card {
    position: relative;
    display: block;
    width: 800px;
    height: 350px;
    margin: 80px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 0 0 120px -25px rgba(0, 0, 0, 0.5);
}
.movie_card:hover{
     transform: scale(1.02);
     box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
     transition: all 0.4s;
 }
.info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}
.movie_header {
    position: relative;
    padding: 25px;
    height: 40%;
}
/*h1{*/
    /*color: black;*/
    /*font-weight: 400;*/
/*}*/
h4{
    color: #555;
    font-weight: 400;
}
.minutes{
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.05);
}
.type{
    display: inline-block;
    color: #959595;
    margin-left: 10px;
}
.locandina{
    position: relative;
    float: left;
    margin-right: 20px;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}
.movie_desc{
    padding: 25px;
    height: 50%;
}
.text{
    color: #545454;
}

.movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: 0 10px;
}
li:hover{
     transition: color 0.3s;
     color: rgba(0,0,0,0.7);
 }
i{
    font-size: 19px;
    cursor: pointer;
}
.blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
}

@media screen and (min-width: 768px) {
    .movie_header{
        width: 65%;
    }

    .movie_desc{
        width: 50%;
    }

    .info_section{
        background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
    }

    .blur_back{
        width: 80%;
        background-position: -100% 10% !important;
    }
}

@media screen and (max-width: 768px) {
    .movie_card{
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }

    .blur_back{
        width: 100%;
        background-position: 50% 50% !important;
    }

    .movie_header{
        width: 100%;
        margin-top: 85px;
    }

    .movie_desc{
        width: 100%;
    }

    .info_section{
        background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
        display: inline-grid;
    }
}

div.ave_back{
    background-size: cover !important;
}
.header {
    color: bLack !important;
}
.reserve {
    width: 100px;
    height: 100px;
    text-decoration: none;
}
.round [type="checkbox"]:checked,
.round [type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
.round [type="checkbox"]:checked + label,
.round [type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.round [type="checkbox"]:checked + label:before,
.round [type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
}
.round [type="checkbox"]:checked + label:after,
.round [type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 8px;
    height: 8px;
    background: #42a60f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.round [type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.round [type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.round [type="checkbox"]:disabled:checked + label:before,
.round [type="checkbox"]:disabled:not(:checked) + label:before
{
    border-color: #ccc;
    background-color: #eee;
}
.round [type="checkbox"]:disabled:checked + label:after
{
    background: #aaa;
}


/*body {*/
    /*background-color: #f1f2f3;*/
/*}*/